
<div class="LContainer">
  <div class="login">
    <h1>CREATE AN ACCOUNT</h1>
  </div>
  <mat-form-field class="formComtainer" appearance="fill">
    <mat-label class="inpt-items" >Enter your email</mat-label>
    <input class="inpt-items"  matInput placeholder="me@gmail.com" formControlName="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field class="formComtainer" appearance="fill">
    <mat-label class="inpt-items">Enter your password</mat-label>
    <input class="inpt-items" matInput>
  </mat-form-field>
  <mat-form-field class="formComtainer" appearance="fill">
    <mat-label class="inpt-items">confirm your password</mat-label>
    <input class="inpt-items" matInput>
  </mat-form-field>
  <button mat-button class="sbtBtn">SUBMIT</button>
  <div class="otherActions">
    <p>Have an account? <span class="login" routerLink='/login'>Login</span></p>
  </div>

</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#1615c5" type = "square-loader" [fullScreen] = "false"><p style="color: white" > </p></ngx-spinner>
